* {
    margin: 0;
    padding: 0;
    color: white;
}

body{
    height: 80dvh;
    background-color: #212222;
}

.body {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80dvh;
}

.body>.title {
    text-align: center;
}

.search {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}

.search>div {
    width: 70%;
    margin: auto;
    display: flex;
}

.search>div>.search_bar {
    background-color: #212222;
    width: 100%;
    border: solid grey 2px;
    border-right: 0;
    outline: 0;
    font-size: larger;
    padding-left: 2rem;
    padding-right: 1rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

.search_icon {
    height: 1.5rem;
    width: 1.5rem;
    margin: auto;
}

.search_btn {
    outline: none;
    padding-right: 2rem;
    background-color: #212222;
    height: 3.7rem;
    border: solid grey 2px;
    border-left: 0;
    border-end-end-radius: 3rem;
    border-top-right-radius: 3rem;
}

.lucky_div{
    align-items: center;
    width: 100%;
}
.lucky_div > div{
    margin: auto;
    margin-top: 2rem;
}
.lucky {
    width: fit-content;
    padding: 0.7rem;
    background-color: #353636;
    border: 0;
    border-radius: 7px;
    border: solid white;
    font-weight: 700;
}
.lucky:hover{
    color: black;
    background-color: white;
}

.google-btn{
    margin-right: 1rem;
}

.logo_div{
    align-self: center;
}


.logo_div > p{
    color: blue;
    margin-left: 13.4rem;
    margin-top: -2rem;
    font-size: 1.3rem;
}

.link_div{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.link_div > div{
    margin-left: auto;
    width:fit-content;
    justify-self: flex-start;
    margin-right: 3.5rem;
}

.link_div > div>button>a{
    text-decoration: none;
}

.link_div > div>button>a:hover{
    color: black;
}

.advanced{
    margin-left:2rem ;
}
